@charset "utf-8";

.navbar-brand, .nav{
	font-weight:bold;
}


/*--------Jumbotron------------*/
.jumbotron-title{
	color:#cc0000;
	font-weight:bold;
}

#jumbo-intro p{
	font-size:16px;
	text-align:justify;
	font-weight:bold;
}

#jumbo-intro p span{
	font-size:16px;
	text-align:justify;
	font-weight:bold;
}
